# Get workspace status information to stamp into the build.
build --workspace_status_command=build/workspace_status.sh

# Enable build stamping to inject the workspace status variables.
build --stamp

# verbose go_test logs for buildbuddy to get more details on test behaviour
test --test_env=GO_TEST_WRAP_TESTV=1
