name: benchmark
on:
  # Test new changes
  pull_request:
  push:
    branches:
      # Record on merges to main
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - uses: ./.github/actions/bazel-benchmark
      - uses: actions/upload-artifact@v5
        with:
          name: event.json
          path: ${{ github.event_path }}
